.card {
  width: 80px;

  height: 140px;
  background-color: white;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.125s ease-in-out;

  p {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }

  .card-footer {
    display: flex;
    span:first-child {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

@media screen and (width>1000px) {
  .card {
    &:hover {
      scale: 1.1;
      cursor: pointer;
    }
  }
}
