.card {
  width: 72px;
  height: 88px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.125s ease-in-out;
  font-size: 0.75rem;
  text-align: center;
}

.text-collaps {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (width>1000px) {
  .card {
    &:hover {
      scale: 1.1;
      cursor: pointer;
    }
  }
}
