.container {
  height: auto;
  width: 400px;
  padding: 40px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
  background-color: var(--bg-color-transparent);
}

.close-btn {
  float: right;
  font-size: 1.2rem;
  margin-bottom: 10px;

  &:hover {
    color: var(--dark-grey);
  }
}

.element-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;

  td {
    padding: 8px 12px;
  }

  tr:nth-child(odd) {
    background-color: var(--tabel-row-grey);
  }

  td:first-child {
    font-weight: bold;
    width: 40%;
  }
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  button {
    padding: 8px 16px;
    background-color: var(--bg-color);
    color: white;
    border-radius: 4px;
    transition: all 0.125s ease-in-out;

    &:hover {
      scale: 1.1;
      filter: brightness(120%);
    }
  }
}
