<div class="wrapper">
  <div class="container">
    <button class="close-btn" (click)="closeDialog()">X</button>

    <table class="element-table">
      <tr>
        <td>Ordnungszahl</td>
        <td>{{ getElement().ordnungszahl }}</td>
      </tr>
      <tr>
        <td>Name (Symbol)</td>
        <td>{{ getElement().name }} ({{ getElement().symbol }})</td>
      </tr>
      <tr>
        <td>Aggregatzustand</td>
        <td>{{ getElement().aggregatzustand }}</td>
      </tr>
      <tr>
        <td>Atommasse</td>
        <td>{{ getElement().atommasse }}</td>
      </tr>
      <tr>
        <td>Dichte</td>
        <td>{{ getElement().dichte_g_cm3 }} g/cm³</td>
      </tr>
      <tr>
        <td>Elektronennegativität</td>
        <td>{{ getElement().elektronegativitaet }}</td>
      </tr>
      <tr>
        <td>Entdeckt von</td>
        <td>{{ getElement().entdeckt }}</td>
      </tr>
      <tr>
        <td>Gruppe</td>
        <td>{{ getElement().gruppe }}</td>
      </tr>
      <tr>
        <td>Oxidationszahlen</td>
        <td>{{ getElement().oxidationszahlen }}</td>
      </tr>
      <tr>
        <td>Periode</td>
        <td>{{ getElement().periode }}</td>
      </tr>
      <tr>
        <td>Kategorie</td>
        <td>{{ getElement().kategorie }}</td>
      </tr>
      <tr>
        <td>Schmelzpunkt</td>
        <td>{{ getElement().schmelzpunkt_k }}</td>
      </tr>
      <tr>
        <td>Siedepunkt</td>
        <td>{{ getElement().siedepunkt_k }}</td>
      </tr>
    </table>

    <div class="button-row">
      <button (click)="prevElement()">Prev</button>
      <button (click)="nextElement()">Next</button>
    </div>
  </div>
</div>
