<div class="wrapper">
  <div class="container">
    <button class="close-btn" (click)="closeDialog()">X</button>

    <table class="element-table">
      <tr>
        <td>Ordnungszahl</td>
        <td>{{ element.ordnungszahl }}</td>
      </tr>
      <tr>
        <td>Name (Symbol)</td>
        <td>{{ element.name }} ({{ element.symbol }})</td>
      </tr>
      <tr>
        <td>Aggregatzustand</td>
        <td>{{ element.aggregatzustand }}</td>
      </tr>
      <tr>
        <td>Atommasse</td>
        <td>{{ element.atommasse }}</td>
      </tr>
      <tr>
        <td>Dichte</td>
        <td>{{ element.dichte_g_cm3 }} g/cm³</td>
      </tr>
      <tr>
        <td>Elektronennegativität</td>
        <td>{{ element.elektronegativitaet }}</td>
      </tr>
      <tr>
        <td>Entdeckt von</td>
        <td>{{ element.entdeckt }}</td>
      </tr>
      <tr>
        <td>Gruppe</td>
        <td>{{ element.gruppe }}</td>
      </tr>
      <tr>
        <td>Oxidationszahlen</td>
        <td>{{ element.oxidationszahlen }}</td>
      </tr>
      <tr>
        <td>Periode</td>
        <td>{{ element.periode }}</td>
      </tr>
      <tr>
        <td>Kategorie</td>
        <td>{{ element.kategorie }}</td>
      </tr>
      <tr>
        <td>Schmelzpunkt</td>
        <td>{{ element.schmelzpunkt_k }}</td>
      </tr>
      <tr>
        <td>Siedepunkt</td>
        <td>{{ element.siedepunkt_k }}</td>
      </tr>
    </table>

    <div class="button-row">
      <button (click)="prevElement()">Prev</button>
      <button (click)="nextElement()">Next</button>
    </div>
  </div>
</div>
