.main {
  height: 100svh;
  background-color: var(--bg-color);
  display: grid;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.openDialog {
  position: fixed;
  display: block !important;
  top: 0;
}

.dialog {
  display: none;
  width: 100%;
  top: 0;
}
