<main class="main">
  <h1>Periodensystem der Elemente</h1>
  <input
    placeholder="Nach Elementen suchen Ordnungszahl oder Name"
    type="text"
    name=""
    [(ngModel)]="searchValue"
    (input)="searchElementInit()"
  />
  <div class="container">
    <div class="pse-grid">
      @for (element of getPseElements(); track element.ordnungszahl) { @if
      (element.gruppe) {
      <div
        class="card"
        [style.gridColumn]="getGridColumn(element)"
        [style.gridRow]="getGridRow(element)"
      >
        <app-element-card
          [element]="element"
          (elementDetail)="handleElementClick($event)"
        ></app-element-card>
      </div>
      } }
    </div>

    <div class="pse-grid">
      @for (element of getPseElements(); track element.ordnungszahl) { @if
      (!element.gruppe) {
      <app-element-card
        class="card"
        [element]="element"
        (elementDetail)="handleElementClick($event)"
      ></app-element-card>
      } }
    </div>
  </div>

  <app-element-card-dialog
    (dialogOpen)="closeDialog()"
    class="dialog"
    [ngClass]="{ openDialog: isDialogOpen() }"
  ></app-element-card-dialog>
</main>
