.main {
  height: 100svh;
  background-color: var(--bg-color);
  display: grid;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.openDialog {
  position: fixed;
  display: block !important;
}

.dialog {
  display: none;
}
