.main {
  height: 100svh;
  background-color: var(--bg-color);
}

h1 {
  color: white;
}

.container {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-wrap: wrap;
  height: calc(100svh - 40px);
  overflow: auto;
}

.pse-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  padding: 10px;
}

.openDialog {
  position: fixed;
  display: block !important;
  top: 0;
}

.dialog {
  display: none;
  width: 100%;
  top: 0;
}

@media screen and (width > 1440px) {
  .pse-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 140px));
    grid-template-rows: repeat(7, auto);
  }
}
