* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root {
  --dark-grey: rgb(63, 63, 63);

  --bg-color: rgb(91, 91, 91);
  --bg-color-transparent: rgba(0, 0, 0, 0.25);

  --border-grey: rgb(102, 102, 102);

  --tabel-row-grey: rgb(236, 236, 236);
}

body {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
  background: none;
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.gap-s {
  gap: 12px;
}

.w-100 {
  width: 100%;
}

.halogen {
  background-color: #ff8c00;
}

.edelgas {
  background-color: #20b2aa;
}

.metall {
  background-color: #a9a9a9;
}

.erdalkalimetall {
  background-color: #6a5acd;
}

.alkalimetall {
  background-color: #ff4500;
}

.halbmetall {
  background-color: #daa520;
}

.nichtmetall {
  background-color: #228b22;
}

.uebergangsmetall {
  background-color: #7272a7;
}

.seltene-erden {
  background-color: #9370db;
}

.default {
  background-color: white;
}
