* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root {
  --dark-grey: rgb(63, 63, 63);
  --bg-color: rgb(91, 91, 91);
  --bg-color-transparent: rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none;
}
